body {
    margin: 0;
    /*width: 1920px; /*для Pixel Perfect*/
    font-style: normal;
    font-weight: normal;
    font-family: Roboto, Arial, sans-serif
}
.container {
    max-width: 1252px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto
}
.header {
    background-color: #cfe5ef
}
.header__content {
    align-items: center;
    height: 150px;
    display: flex
}
.header__logo {
    height: 62px;
    width: 200px;
    background-image: url("../images/logo.png")
}
.header__logo:active {
    background-image: url("../images/logo_active.png")
}
.header__logo:hover {
    background-image: url("../images/logo_hover.png")
}
.header__menu {
    margin: 0 0 0 56px;
    padding: 0;
    list-style-type: none;
    display: flex
}
.header__menu, .header__enter, .main__name {
    font-size: 20px
}
.header__item {
    position: relative
}
.header__item::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 5px;
    right: -1px;
    width: 3px;
    height: 17px;
    background-color: #333
}
.header__item:last-child::before {
    display: none
}
.header__item:nth-of-type(2):hover .header__link {
    background-color: #fff
}
.header__item:hover .header__submenu {
    display: block
}
.header__item:first-of-type:active .header__link, .header__item:last-of-type:active .header__link {
    text-decoration: underline
}
.header__item:first-of-type:hover .header__link, .header__item:last-of-type:hover .header__link {
    color: #52359d;
    text-decoration: underline
}
.header__link {
    padding: 2px 17px 3px 17px
}
.header__link, .header__sublink, .header__enter {
    text-decoration: none;
    text-transform: uppercase;
    color: #333333
}
.header__link, .main__heading, .main__name {
    font-weight: bold
}
.header__submenu {
    position: absolute;
    white-space: nowrap;
    display: none;
    top: 100%;
    left: 0;
    margin-top: 4px;
    padding: 0;
    list-style-type: none;
    border: 1px solid #ebebeb;
    border-top: none;
    border-radius: 4px;
    border-top-left-radius: 0;
    background-color: #fff
}
.header__subitem:last-of-type .header__sublink {
    padding-bottom: calc(((128px - (20px*4))/5))
}
.header__sublink {
    display: inline-block;
    text-transform: none;
    padding: calc(((128px - (20px*4))/5)) 36px 0 19px
}
.header__enter {
    background-color: #fff;
    padding: 23px 36px 19px 37px;
    margin-left: auto
}
.header__enter:active {
    color: #999;
    background-color: #333
}
.header__enter:hover {
    color: #fff;
    background-color: #52359d
}
.main__heading {
    position: relative;
    line-height: 24px;
    margin-bottom: calc(35px + 8px);
    margin-top: 64px
}
.main__heading::after {
    content: '';
    position: absolute;
    z-index: 2;
    height: 6px;
    width: 200px;
    top: calc(100% + 8px);
    left: -1px;
    background-color: #c3c3c3
}
.main__heading:nth-of-type(2) {
    margin-top: 76px;
    margin-bottom: calc(35px + 8px)
}
.main__heading:nth-of-type(3) {
    margin-top: calc(64px - 20px);
    margin-bottom: calc(40px + 8px)
}
.main__heading:nth-of-type(4) {
    margin-top: calc(104px - 33px);
    margin-bottom: 54px;
    transform: translateX(-13px);
    text-align: center
}
.main__heading:nth-of-type(4):after {
    transform: translateX(calc((1252px/2) - 50%))
}
.main__heading:nth-of-type(5) {
    margin-top: calc(411px - 378px);
    margin-bottom: calc(40px - 21px)
}
.main__float {
    background-color: #e2e2e2;
    border: 1px solid #9f9f9f;
    height: 48px
}
.main__review {
    padding-top: 35px;
    padding-bottom: 33px;
    height: 192px
}
.main__review_part {
    padding-top: 13px
}
.main__review:nth-child(6) {
    padding-top: 0
}
.main__review:nth-child(7), .main__review:nth-child(8) {
    border-top: 1px solid #c6c6c6
}
.main__date {
    line-height: 16px;
    margin-left: 34px;
    color: #6e6e6e
}
.main__date, .main__text {
    font-size: 16px
}
.main__calendar {
    margin-bottom: -2px;
    margin-right: 8px
}
.main__text {
    margin-top: 33px;
    color: #797979
}
.flex__container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 378px
}
.main__item {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    width: 277px
}
.main__item:nth-child(4) {
    margin-right: 0
}
.main__item p {
    font-size: 12.27px;
    margin-top: 21px;
    margin-left: 9px
}
.main__decor {
    position: relative;
    width: 275px;
    height: 275px;
    border: 1px solid #e2e2e2
}
.main__decor:before, .main__decor:after {
    content: '';
    position: absolute;
    z-index: 2;
    height: 9px;
    width: 9px;
    background-color: #fff
}
.main__decor:before {
    transform: translate(267px, -1px)
}
.main__decor:after {
    transform: translate(-1px, -8px)
}
.main__image {
    margin: 8px;
    height: 259px;
    width: 259px;
    background-image: url("../images/image.png")
}
.main__title {
    margin-top: 21px;
    margin-bottom: 8px
}
.main__title, .main__input, .main__select, .main__check, .main__textarea {
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 13px
}
.main__input, .main__select {
    height: 42px;
    color: #333;
    border: 2px solid #a0a0a0;
    outline: none;
    padding: 0 0 0 16px;
    width: 100%
}
.main__select {
    padding-left: 15px;
    width: calc(100% + 15px);
    height: 46px
}
.main__input::placeholder, .main__textarea::placeholder {
    color: #97a1aa
}
.main__input:focus, .main__select:focus {
    background-color: #e9f8ff
}
.with-lock, .with-phone-call {
    position: relative
}
.with-phone-call {
    margin-bottom: calc(37px - 21px)
}
.with-lock .main__input, .with-phone-call .main__select {
    padding-left: 46px
}
.main__input {
    width: calc(100% - 16px - 4px)
}
.with-lock .main__input {
    width: calc(100% - 46px - 4px)
}
.with-lock img, .with-phone-call img, .with-chat-comment img {
    position: absolute;
    z-index: 2;
    top: 10px
}
.with-lock img {
    left: 19px
}
.with-phone-call img, .with-chat-comment img {
    left: 16px
}
#main__lock-2, #main__phone-call-2 {
    display: none
}
.main__input:focus ~ #main__lock-1, .main__select:focus ~ #main__phone-call-1 {
    display: none
}
.main__input:focus ~ #main__lock-2, .main__select:focus ~ #main__phone-call-2 {
    display: block
}
.main__check {
    display: inline-block;
    margin-right: 31px
}
.check {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 2px solid #9c9dcd;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 7px;
    position: relative
}
.check-radio {
    border-radius: 50%
}
.check::before {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #52359d;
    position: absolute;
    display: none;
    top: 3px;
    left: 3px
}
.check-radio::before {
    border-radius: 50%
}
.checkbox:checked ~ .check::before, .radio:checked ~ .check::before {
    display: block
}
.checkbox, .radio {
    display: none
}
.main__textarea {
    color: #333;
    border: 2px solid #a0a0a0;
    outline: none;
    resize: none;
    padding: 13px 15px;
    height: 167px;
    width: calc(100% - (15px*2) - (2px*2))
}
.with-chat-comment {
    position: relative
}
#main__chat-comment-2 {
    display: none
}
.with-chat-comment .main__textarea {
    width: calc(100% - 47px - 15px - (2px*2));
    padding-left: 47px
}
.main__textarea::placeholder {
    line-height: 13px
}
.main__check {
    text-align: center;
}
.buttons {
    margin-top: 20px;
    height: 43px
}
.main__submit, .main__reset, .main__button {
    margin-right: 20px;
    background-color: #fff;
    font-size: 14px;
    border: 1px solid #999
}
.upload-file__text {
    font-size: 14px
}
.main__submit {
    width: 102px
}
.main__reset {
    width: 93px
}
.main__button {
    width: 107px
}
.upload-file__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 0.4px;
    height: 0.4px
}
.upload-file__label {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 172px;
    border: 1px solid #999;
    padding: 8px 33px 9px 25px;
    cursor: pointer
}
.upload-file__icon {
    width: 20px;
    height: 24px;
    margin-right: 10px
}
.upload-file__label:active, .main__submit:active {
    background-color: #333;
    border-color: #333
}
.upload-file__label:active .upload-file__icon {
    filter: invert(100%)
}
.upload-file__label:active .upload-file__text, .main__submit:active {
    color: #999
}
.upload-file__label:hover, .main__submit:hover {
    background-color: #52359d;
    border-color: #52359d
}
.upload-file__label:hover .upload-file__icon {
    filter: invert(100%)
}
.upload-file__label:hover .upload-file__text, .main__submit:hover {
    color: #fff
}